/* General styles */
.country {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: scroll;
}

.navCountry {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
}

.navCountry h2 {
  text-align: center;
  width: 50%;
}

.navCountry a {
  color: #f9fffb;
  text-decoration: none;
}

/* Country Info section */
.infoCountry {
  background-color: #042034;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.infoCountry img {
  max-width: 100%;
  filter: invert(90%);
}

.infoCountry h3 {
  text-align: center;
  color: #042034;
  font-size: 2rem;
  margin: 0 auto;
  background-color: #f9fffb;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .infoCountry {
    grid-template-columns: 1fr 1fr;
  }

  .infoCountry h3 {
    font-size: 40px;
    margin-left: 5%;
  }
}

/* Pollution Info section */
.infoPollution {
  background-color: #000;
  color: #f9fffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 82%;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
}

.infoPollution h4 {
  font-size: 20px;
  margin: 0;
}

/* Chart section */
.chart {
  background-color: #f9fffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}

.chart > * {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .chart {
    background-color: #000;
    grid-column: 1 / 3;
    padding: 100px 0;
  }

  .chart h2 {
    color: #fff;
    font-size: 40px;
  }

  canvas {
    max-width: max-content;
    margin: auto;
  }

  /* Update size of Pollution Info section on larger screens */
  .infoPollution {
    width: 85%;
    grid-column: 1 / span 3;
  }
}
